[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
pillow = "*"
pynput = "*"
ipdb = "*"
mss = "*"
pyobjc-framework-quartz = "*"
vst = {editable = true, path = "."}

[requires]
python_version = "3.6"
